<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us - Job Searching Platform</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <header
      class="bg-blue-500 text-white py-8 px-4 flex items-center justify-between"
    >
      <div>
        <h1 class="text-3xl font-bold">Find Your Dream Job</h1>
      </div>
      <nav class="flex items-center space-x-4">
        <a href="/" class="hover:text-blue-300">Home</a>
        <a href="/recruiters/login" class="hover:text-blue-300">Login</a>
        <a href="/recruiters/signup" class="hover:text-blue-300">Signup</a>
      </nav>
    </header>

    <div class="container mx-auto mt-8 p-4">
      <h1 class="text-3xl font-bold mb-4">Contact Us</h1>
      <p class="mb-8 text-gray-700">
        Have questions, suggestions, or need support? Reach out to us by filling
        out the form below.
      </p>

      <form
        action="https://formsubmit.co/gyanavardhanmamidisetti@gmail.com"
        method="POST"
      >
        <input
          type="text"
          name="name"
          placeholder="Your Name"
          required
          class="block w-full py-2 px-3 mb-4 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:border-blue-500"
        /><br />
        <input
          type="email"
          name="email"
          placeholder="Your Email"
          required
          class="block w-full py-2 px-3 mb-4 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:border-blue-500"
        /><br />
        <input
          type="text"
          name="_subject"
          placeholder="Subject"
          required
          class="block w-full py-2 px-3 mb-4 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:border-blue-500"
        /><br />
        <textarea
          name="message"
          placeholder="Your Message"
          required
          class="block w-full py-2 px-3 mb-4 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:border-blue-500"
        ></textarea
        ><br />
        <input type="hidden" name="_next" value="http://localhost:3000/" />
        <input type="hidden" name="_captcha" value="false" />
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none focus:bg-blue-600"
        >
          Send
        </button>
      </form>
    </div>

    <footer class="bg-blue-500 text-white text-center py-4 mt-2 pb-36">
      &copy; 2024 Job Searching Platform. All rights reserved.
    </footer>
  </body>
</html>
