<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Searching Platform</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <header
      class="bg-blue-500 text-white py-8 px-4 flex items-center justify-between"
    >
      <div>
        <h1 class="text-3xl font-bold">Find Your Dream Job</h1>
      </div>
      <nav class="flex items-center space-x-4">
        <a href="/contact" class="hover:text-blue-300">Contact</a>
        <a href="/recruiters/login" class="hover:text-blue-300">Login</a>
        <a href="/recruiters/signup" class="hover:text-blue-300">Signup</a>
      </nav>
    </header>

    <div class="container mx-auto mt-8 flex">
      <aside class="w-1/4 mr-4 bg-gray-100 p-4 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4">Key Features</h2>
        <ul class="mt-4">
          <li>Easy signup and login for candidates and recruiters</li>
          <li>Post jobs with detailed descriptions and PDFs</li>
          <li>Apply for jobs with a single click</li>
          <li>Manage applications and track progress</li>
        </ul>
      </aside>

      <main class="w-3/4 p-4 rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-4">
          Connecting Talent with Opportunities
        </h1>
        <p class="mb-8">
          Our job searching platform makes it easy for candidates to find their
          ideal jobs and for recruiters to find the best talent.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
          <section class="features">
            <h2 class="text-xl font-semibold mb-4">
              Key Features for Candidates
            </h2>
            <ul class="list-disc list-inside">
              <li>Browse a wide range of job listings</li>
              <li>Apply for jobs with ease</li>
              <li>Track your applications</li>
              <li>Receive alerts for relevant job openings</li>
            </ul>
            <div>
              <h2 class="text-xl font-semibold mb-2 mt-5">
                Ready to Find Your Perfect Job?
              </h2>
              <a
                href="/recruiters/signup"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg inline-block"
                >Sign Up Now</a
              >
            </div>
          </section>

          <section class="features">
            <h2 class="text-xl font-semibold mb-4">
              Key Features for Recruiters
            </h2>
            <ul class="list-disc list-inside">
              <li>Post jobs and reach qualified candidates</li>
              <li>Manage applications effectively</li>
              <li>Screen candidates with ease</li>
              <li>Find the best talent for your openings</li>
            </ul>
            <div class="mt-4">
              <h2 class="text-xl font-semibold mb-2">
                Already have an account?
              </h2>
              <a
                href="/recruiters/login"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg inline-block"
                >Log in now</a
              >
            </div>
          </section>
        </div>
      </main>
    </div>

    <footer class="bg-blue-500 text-white text-center py-4 mt-2 pb-36">
      &copy; 2024 Job Searching Platform. All rights reserved.
    </footer>
  </body>
</html>
