<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <h1>Login Page</h1>
  
  <form action="/recruiters/login" method="POST">
    <label for="username">Email</label>
    <input type="text" id="email" name="email" placeholder="email" />
    <label for="password">Password</label>
    <input type="password" id="passwd" name="password" placeholder="password" />
    <button id="recruiterlogin">Login</button>
    <a href="/recruiters/signup">Dont' have an account,Register</a>
    <% if (messages.error) { %>
      <script>
        alert('<%= messages.error %>');
      </script>
    <% } else if (messages.success) { %>
      <script>
        alert('<%= messages.success %>');
      </script>
    <% } %> 

  </form>
</body>
</html>
