<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="../src/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <% if (messages.error) { %>
    <script>
      alert('<%= messages.error %>');
    </script>
  <% } else if (messages.success) { %>
    <script>
      alert('<%= messages.success %>');
    </script>
  <% } %> 
  <h1 class="text-3xl font-bold text-center mt-8">Login Page</h1>
  <div class="max-w-md mx-auto mt-8 bg-white p-8 rounded-lg shadow-lg">
    <div class="mb-4">
      <label for="userType" class="block">Login as Candidate</label>
      <input type="checkbox" id="userType" onchange="toggleSignupForm()" class="mt-2">
    </div>

    <form action="/recruiters/login" class="recruiterForm" method="POST">
      <h1 class="text-xl font-bold mb-4">Recruiter</h1>
      <label for="email" class="block">Email</label>
      <input type="text" id="email" name="email" placeholder="Email" class="w-full border-gray-300 rounded-lg px-4 py-2 mb-2">
      <label for="password" class="block">Password</label>
      <input type="password" id="passwd" name="password" placeholder="Password" class="w-full border-gray-300 rounded-lg px-4 py-2 mb-2">
      <button id="recruiterlogin" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Login</button>
      <a href="/recruiters/signup" class="block mt-2 text-blue-500">Don't have an account? Register</a>
    </form>

    <form action="/candidates/login" class="candidateForm hidden" method="POST">
      <h1 class="text-xl font-bold mb-4">Candidate</h1>
      <label for="email" class="block">Email</label>
      <input type="text" id="email" name="email" placeholder="Email" class="w-full border-gray-300 rounded-lg px-4 py-2 mb-2">
      <label for="password" class="block">Password</label>
      <input type="password" id="passwd" name="password" placeholder="Password" class="w-full border-gray-300 rounded-lg px-4 py-2 mb-2">
      <button id="candidatelogin" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Login</button>
      <a href="/recruiters/signup" class="block mt-2 text-blue-500">Don't have an account? Register</a>
    </form>
  </div>

  <script>
    function toggleSignupForm() {
      var userTypeCheckbox = document.getElementById("userType");
      var recruiterForm = document.querySelector(".recruiterForm");
      var candidateForm = document.querySelector(".candidateForm");
      
      if (userTypeCheckbox.checked) {
        recruiterForm.classList.add("hidden");
        candidateForm.classList.remove("hidden");
      } else {
        recruiterForm.classList.remove("hidden");
        candidateForm.classList.add("hidden");
      }
    }
  </script>
</body>
</html>
