<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (messages.error) { %>
        <script>
          alert('<%= messages.error %>');
        </script>
      <% } else if (messages.success) { %>
        <script>
          alert('<%= messages.success %>');
        </script>
      <% } %> 
    <h1><%= user.company %></h1>
    <h1>Post a job</h1>
    <form action="/recruiters/postajob" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="salary">Salary or LPA</label>
        <input type="text" name="salary" id="salary">
        <label for="company">Company</label>
        <input type="text" name="company" id="company">
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        <label for="jobdescription">Job Description</label>
        <input type="file" name="jobdescription" id="jobdescription">

        <button type="submit">Post</button>
    </form>
</body>
</html>