<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
  <h1>Recruiters Profile Page</h1>
  <% if (messages.error) { %>
    <script>
      alert('<%= messages.error %>');
    </script>
  <% } else if (messages.success) { %>
    <script>
      alert('<%= messages.success %>');
    </script>
    <form action="/recruiter/logout" method="post" >
      <button>Logout</button>
    </form>
  <% } %>
</body>
</html>
