<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
  
  <h2>Welcome <%= user.username %> from <%= user.company %></h2>
  <h1>Recruiters Profile Page</h1>
  <form action="/recruiters/home?_method=GET" method="post" >
    <button>Home Page</button>
  </form>
  <form action="/recruiters/logout?_method=DELETE" method="post" >
      <button>Logout</button>
  </form>
</body>
</html>
